<!DOCTYPE html>
<html lang ="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; user-scalable=yes">
    <!-- css file -->
    <link href="styles/contact.css" rel="stylesheet" type="text/css"/>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png"  href="Images/Favicon.png">
    <title>Contact | Elton Z.</title>
  </head>
  <body>
    <header>
    <h1>Contact Information</h1>
    <nav>
      <ul>
       <li>
        <a href ="index.html">Back to Home Page</a>
       </li>
      </ul>  
    </nav>
   </header>  
    <main>
    <div class="Social_links">
      <div class="LinkedIn">
      <p>LinkedIn:<a rel="noreferrer" href = "https://www.linkedin.com/in/elton-z-07ba971b3/" target= "_blank">@Elton Z.</a></p>
      </div>
      <div class="Github">  
      <p>Github profile: <a rel="noreferrer" href = "https://github.com/EltZ36" target ="_blank"> EltZ36</a></p>
      </div>
    </div>
    </main>  
  </body>  
</html>

