li{
  width: 100vw;
  height: 5px;
  list-style-type: none;
  margin: 0 2vw;
  font-size: 125%;
}

ul{
  margin: 0;
  padding: 0px 5px 5px 5px;
  display:flex;
}

a{
  text-decoration: none;
  color: #48484d;
  background-color: #2ae2e8;
  transition-duration: 0.5s;
}

a:visited{
  background-color:#e1951e;
}

a:hover{
  background-color:#e8592a;
}

.Social_links{
  margin: 5px;
}

.Github, .LinkedIn{
  padding: 5px 5px 5px 5px;
}

main{
  color: #000000;
  padding: 10px 10px 10px 10px;
  margin: 25px;
}

body{
  text-align: left;
  font-size: 20px;
}

html{
  font-family: 'Oxygen', sans-serif;
  margin: 20px;
}
